[Unit]
Description=Gunicorn instance to serve the personal porfolio website
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/personal_website
Environment="PATH=/var/www/personal_website/personal_website_app/.venv/bin"
ExecStart=/var/www/personal_website/personal_website_app/.venv/bin/gunicorn --workers 3 --bind unix:personal_website.sock -m 007 wsgi:app
[Install]
WantedBy=multi-user.target