:root {
  --main-fg-color: rgb(233, 233, 233);
  --main-hover-color: #ffffff1e;
  --main-width: 45em;
  --border-weight: 5px;
  font-size: 1em;
}

body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: var(--main-fg-color);
  background-color: #000108;
}
.post_content {
  text-align: left;
  width: var(--main-width);
  padding-left: 30%;
}
@media (max-width: 735pt) {
  :root {
    --main-width: 90%;
    font-size: 1.6em;
  }
  .post_content {
    text-align: left;
    width: var(--main-width);
    padding-left: 0em;
  }
}

a {
  color: #45ff6d;
}

.nav-bar {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 1em;
}
.nav-button {
  width: 20em;
  padding: 1em;
  background-color: transparent;
  /* color: var(--main-fg-color); */
  border: 2px solid var(--main-fg-color);
  border-radius: 5px;
  /* text-decoration: none; */
  font-weight: 1000;
}

.profile-img {
  width: 13em;
  height: 18em;
  border-radius: 200px;
}

h3 {
  width: 70%;
  margin: 1em auto;
}

h4 {
  padding-bottom: 1em;
  font-weight: 500;
}

.languages {
  display: flex wrap;
  gap: 1em;
  line-height: 4em;
  justify-content: center;
}

.language-box {
  border: 2px solid var(--main-fg-color);
  border-radius: 5px;
  padding: 0.8em;
}

.expandable {
  padding-bottom: 0.8em;
}

.expandable .content {
  display: hidden;
  overflow: hidden;
  opacity: 0;
  height: 0em;
  margin: 0 auto;
  transition: all, 0.3s;
  width: var(--main-width);
}

.expandable .content.visible {
  opacity: 1;
  /* height: 8em; */
  height: min-content;
}

.toggle-button {
  width: var(--main-width);
  padding: 1em;
  justify-content: center;
  background-color: transparent;
  font-size: 1.3em;
  color: var(--main-fg-color);
  border: 2px solid var(--main-fg-color);
  border-radius: 5px;
  box-sizing: content-box;
  z-index: 1;
}
.toggle-button:hover {
  background-color: var(--main-hover-color)
}

.blog-container {
  flex-direction: column;
  display: flex;
  gap: 1em;
  width: var(--main-width);
  margin: 0 auto;
}

.blog-excerpt {
  width: 100%;
  padding-top: 0.5em;
  background-color: transparent;
  color: var(--main-fg-color);
  border: 2px solid var(--main-fg-color);
  border-radius: 5px;
  text-decoration: none;
}
.blog-excerpt:hover {
  background-color: var(--main-hover-color);
  transition: all .1s;
}

.blog-excerpt .title {
  font-size: 20pt;
  font-weight: 300;
}

.particle {
  position: fixed;
  top: 1em;
  animation: move-particle 100s linear infinite;
  overflow: hidden;
  height: 2px;
  width: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px white ;
  z-index: -1;
}

@keyframes move-particle {
  100% {
    transform: translate(50vh, 150vh) rotate(180deg);
  }
}