<!DOCTYPE html>
<html>
<head>
    <title>Admin / Log In</title>
</head>
<body>
    <h1>Log In</h1>
    {{ error }}
    <form method="post">
      {{ form.hidden_tag() }}  <!-- CSRF token -->
      {{ form.username.label }} {{ form.username }}
      {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      {{ form.password.label }} {{ form.password }}
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      <br>
      {{ form.submit }}
    </form>  
</body>
</html>
