:root {
  --main-fg-color: rgb(233, 233, 233);
  --main-width: 550pt;
}

body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: var(--main-fg-color);
  background-color: #000108;
}

a {
  color: #45ff6d;
}

.profile-img {
  width: 160pt;
  height: 180pt;
  border-radius: 200px;
}

h3 {
  width: 70%;
  margin: 10pt auto;
}

.expandable {
  padding-bottom: 10pt;
}

.expandable .content {
  display: hidden;
  overflow: hidden;
  opacity: 0;
  height: 0pt;
  width: var(--main-width);
  margin: 0 auto;
  transition: all, 0.3s;
}

.expandable .content.visible {
  opacity: 1;
  height: 100pt;
}

.toggle-button {
  padding: -10pt;
  width: var(--main-width);
  background-color: transparent;
  font-size: 20pt;
  font-weight: 300;
  color: var(--main-fg-color);
  border: 1px solid var(--main-fg-color);
  border-radius: 5px;
}

.particle {
  position: fixed;
  top: 10pt;
  animation: move-particle 100s linear infinite;
  overflow: hidden;
  height: 2px;
  width: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px white ;
}

@keyframes move-particle {
  100% {
    transform: translate(50vh, 150vh) rotate(180deg);
  }
}