body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(233, 233, 233);
  background-color: #000108;
}

a {
  color: #45ff6d;
}

.expandable .content {
  display: block;
  overflow: hidden;
  opacity: 0;
  height: 0pt;
  transition: all, 0.3s;
}

.expandable .content.visible {
  opacity: 1;
  height: 100pt;
}

.toggle-button {
  padding: -10pt;
  width: 260pt;
  background-color: transparent;
  font-size: 20pt;
  font-weight: 300;
  color:rgb(233, 233, 233);
}

.particle {
  position: fixed;
  top: 10pt;
  animation: move-particle 100s linear infinite;
  overflow: hidden;
  height: 2px;
  width: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px white ;
}

@keyframes move-particle {
  100% {
    transform: translate(50vh, 150vh) rotate(180deg);
  }
}