<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <title>Liam Callahan Blog</title>

  </head>
  <body>
    {% include "navbar.html" %}
    <div class="blog-container">
      {% for post in posts %}
      <a class="blog-excerpt" href="/blog/id-{{ post.id }}">
        <span class="title">{{ post.title }}</span><br>
        <span>{{ post.date }}</span>
        <p class="excerpt">{{ post.excerpt }}</p>
      </a>
      {% endfor %}
    </div>
    <br>
    {% if (prev > 0) %}
    <a href="/blog-archive/page-{{ prev }}">Previous</a>
    {% endif %}
    <a href="/blog-archive/page-{{ next }}">Next</a>
    <div class="particles"></div>
    <script src="../static/main.js"></script>
  </body>
</html>