body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(233, 233, 233);
  background-color: #0f0e0e;
}

.expandable .content {
  display: block;
  overflow: hidden;
  opacity: 0;
  height: 0pt;
  transition: all, 0.5s;
}

.expandable .content.visible {
  opacity: 1;
  height: 100pt;
}

.toggle-button {
  padding: 10pt 120pt;
  background-color: transparent;
  font-size: 20pt;
  font-weight: 300;
  color:rgb(233, 233, 233);
}

