<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <title>Liam Callahan</title>
  </head>
  <body>
    <h1>Liam Callahan</h1>

    <h3>Computer Science Student</h3>
    <h2>US Citizen | <a href="mailto:liam@acodecrafter.xyz">liam@acodecrafter.xyz</a></h2>

    <!-- Intro -->
    <img src="../static/profile.png" class="profile-img">
    <h3>I'm Liam Callahan, a computer science student and up-and-coming full-stack engineer.</h3>
    
    <!-- Languages -->
    <h2>Languages</h2>
    <div class="languages">
      <span class="language-box">Python</span>
      <span class="language-box">Java</span>
      <span class="language-box">C#</span>
      <span class="language-box">HTML</span>
      <span class="language-box">CSS</span>
      <span class="language-box">JavaScript</span>
    </div>

    <!-- Projects -->
    <h2>Projects</h2>
    <div class="expandable">
      <button class="toggle-button">Django CRM</button>
      <div class="content">
        <h3>Project #1</h3>
        <h3>Project #2</h3>
        <h3>Project #3</h3>
      </div>
    </div>

    <div class="expandable">
      <button class="toggle-button">Python Blog Migration Tool</button>
      <div class="content">
        <p>Developed a program in Python that scraped Weebly Blog content and converted it to
          WordPress posts via the WordPress REST API. This eliminated ~90% of the repetitive
          labor needed to transfer the posts</p>
      </div>
    </div>

    <h2>Blog</h2>
    <div class="blog-container">
      <div class="blog-excerpt">
        <span class="title">Blog Title</span>
        <p class="excerpt">Really engaging blog excerpt...</p>
      </div>
      <div class="blog-excerpt">
        <span class="title">Blog Title</span>
        <p class="excerpt">Really engaging blog excerpt...</p>
      </div>
      <div class="blog-excerpt">
        <span class="title">Blog Title</span>
        <p class="excerpt">Really engaging blog excerpt...</p>
      </div>
      <div class="blog-excerpt">
        <span class="title">Blog Title</span>
        <p class="excerpt">Really engaging blog excerpt...</p>
      </div>
      <div class="blog-excerpt">
        <span class="title">Blog Title</span>
        <p class="excerpt">Really engaging blog excerpt...</p>
      </div>
      <div class="blog-excerpt">
        <span class="title">Blog Title</span>
        <p class="excerpt">Really engaging blog excerpt...</p>
      </div>
    </div>
    <br>
    <a href="blog">Read More</a>
    
    <div class="particles"></div>
  </body>

  <script rel="script" src="../static/main.js"></script> 
</html>